@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:wdth,wght@100..151,100..1000&display=swap");

:root {
  --color-text-primary: #141c24;
}

body {
  color: var(--color-text-primary);
  font-family: "Roboto Flex", sans-serif;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 800;
    font-variation-settings: "wdth" 150;
  }
}

.spinner {
  --border-width: 3px;
  background: radial-gradient(farthest-side, black 94%, #0000)
      top/var(--border-width) var(--border-width) no-repeat,
    conic-gradient(#0000 30%, black);
  mask: radial-gradient(
    farthest-side,
    #0000 calc(100% - var(--border-width)),
    #000 0
  );
}

.animate-shimmer {
  animation: shimmer 3s;
  animation-iteration-count: infinite;
  background-image: linear-gradient(-60deg, #ebedee 30%, #f9fafa, #ebedee 70%);
  background-size: 200%;
  background-position: -200% 0;
}
@keyframes shimmer {
  from {
    background-position: 200% 0;
  }
}
