@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght,wdth&@8..144,100..1000&display=swap");

:root {
  --color-text-primary: #141c24;
  --color-text-secondary: #5c6970;
}

body {
  color: var(--color-text-primary);
  font-family: "Roboto Flex", sans-serif;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 800;
    font-variation-settings: "wdth" 150;
  }
}

.spinner {
  --border-width: 3px;
  background: radial-gradient(farthest-side, black 94%, #0000)
      top/var(--border-width) var(--border-width) no-repeat,
    conic-gradient(#0000 30%, black);
  mask: radial-gradient(
    farthest-side,
    #0000 calc(100% - var(--border-width)),
    #000 0
  );
}

.button-primary {
  position: relative;
  overflow: hidden;
  span {
    position: relative;
    z-index: 1;
  }
  &::before,
  &::after {
    content: "";
    position: absolute;
    inset: 0;
    pointer-events: none;
  }
  &::before {
    background: linear-gradient(
      180deg,
      #ff0073 -85.89%,
      #811ab8 34.45%,
      #4426d9 100%
    );
  }
  &::after {
    transition: inherit;
    transition-property: opacity;
    background-image: linear-gradient(
      180deg,
      #ff0073 -114.9%,
      #811ab8 -51.51%,
      #4426d9 100%
    );
  }
  &:hover,
  &:focus-visible {
    &::after {
      opacity: 0;
    }
  }
}

.animate-custom {
  animation: shimmer 3s;
  animation-iteration-count: infinite;
  background-image: linear-gradient(-60deg, #ebedee 30%, #f9fafa, #ebedee 70%);
  background-size: 200%;
  background-position: -200% 0;
}
@keyframes shimmer {
  from {
    background-position: 200% 0;
  }
}
